.halfPageLeft {
    position: absolute;
    width: 800px;
    height: 1000px;
}
.halfPageRight {
    margin-left: 800px;
    position: absolute;
    width: 800px;
    height: 1000px;
}
.colorBlack {
    background-color: black;
}
body {
    width: 1600px;
    height: 1000px;
    margin: 0 auto;
}
.vsIcon {
    margin-left: 650px;
    margin-top: 400px;
    position: fixed;
    width: 324px;
    height: 277px;
    z-index: 2;
}
.dbdLogo {
    position: fixed;

}
.textTop {
    z-index: 2;
    margin-top: 50px;
    margin-left: 660px;
    position: fixed;
    color:white;
    font-size: 200%;
}
.topFont {
    font-family: 'Fontdiner Swanky', cursive;
}
.container {
    position: absolute;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlayRight {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    background-color: #000000;
}

.container:hover .overlayRight {
    opacity: 1;
}

.textTrapper {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.textFontMorga {
    font-family: 'Mogra', cursive;
}